# Virtual environment
venv/

# Jupyter Notebook
*.ipynb

# Data and models
*.h5
*.pt
*.pth
*.ckpt
*.csv
data/
fer2013.csv
session_*.json
sessions/

# IDEs and OS files
.vscode/
*.swp
.DS_Store

# Local env
.env
env/

.venv/
data/
sessions/
__pycache__/

*.h5
*.csv
*.zip